*{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 249, 199);
}

body{
    height: 300px;
    margin: 20px;
    background-color: #051D3B;
    border-radius: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

/*CONFIG CABEÇALHO*/

header{
    background-color: transparent;
    height: 56px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logotipo img{
    width: 135px;
    margin-bottom: -10px;
}

.barraPesquisa{
    width: 752px;
    background-color: transparent;
}

#barraPesquisa{
    height: 56px;
    margin-top: 10px;
    
}

.fotoUsuario img{
    width: 135px;
    margin-bottom: -30px;
}

/*FIM CONFIG CABEÇALHO*/
/*CONFIG CORPO PÁGINA DESKTOP*/

.corpo{

    justify-content: space-between;
}

.corpo, .navegacao, .centro, .coluna{
    display: inline-block;
    background-color: transparent;
    padding: 20px;
    vertical-align: top;
}

.navegacao{
    width: 250px;
    height: 100px;
    background-color: transparent;
    
    display: inline-block;
}

.itensNavegacao{
    background-color: transparent;
    flex-direction: row;
    list-style-type: none;
}

.itensNavegacao img {
    width: 35px;
}

img, li {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
}

li, a{
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.centro{
    
    width: 250px;
    height: 100px;
    background-color: blue
}

/*coluna central - campo desenvolvimento código*/


/*coluna direita - detalhes de projeto*/

.detalhesProjeto{
    width: 250px;
    height: 100px;

    background-color: transparent;    
    display: inline-block;
}

.detalhesProjeto, h3{
    background-color: transparent;
    color: white;

}

.campo{
    width: 90%;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.288);
    border-style: none;
    margin-top: 5px;
    padding-left: 3px;
    font-size: medium;
    color: rgb(170, 169, 169);
}

#tituloProjeto{
    height: 30px;
}

#descricaoProjeto{
    height: 65px;
}

/*table 702*/


/*mobile 125*/

