*{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 249, 199);
}

body{
    height: 300px;
    margin: 20px;
    background-color: #051D3B;
    border-radius: 40px;
}

header{
    background-color: transparent;
    height: 56px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logotipo img{
    width: 135px;
    margin-bottom: -10px;
}

.barraPesquisa{
    width: 752px;
    height: 56px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;

}

.barraPesquisa p{

    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    padding-left: 20px;

    color: #FFFFFF;
    opacity: 0.64;

}

/*table 702*/


/*mobile 125*/

